@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9843 0.0017 247.8393);
  --foreground: oklch(0.1371 0.036 258.5258);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1371 0.036 258.5258);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1371 0.036 258.5258);
  --primary: oklch(0.4511 0.1731 259.2867);
  --primary-foreground: oklch(0.9848 0 0);
  --secondary: oklch(0.9684 0.0068 247.8951);
  --secondary-foreground: oklch(0.2079 0.0399 265.7275);
  --muted: oklch(0.9684 0.0068 247.8951);
  --muted-foreground: oklch(0.5547 0.0407 257.4404);
  --accent: oklch(0.9684 0.0068 247.8951);
  --accent-foreground: oklch(0.2079 0.0399 265.7275);
  --destructive: oklch(0.6368 0.2078 25.3259);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.929 0.0126 255.5317);
  --input: oklch(0.929 0.0126 255.5317);
  --ring: oklch(0.4511 0.1731 259.2867);
  --chart-1: oklch(0.4511 0.1731 259.2867);
  --chart-2: oklch(0.792 0.209 151.711);
  --chart-3: oklch(0.7015 0.1244 180.0624);
  --chart-4: oklch(0.5751 0.2098 19.0719);
  --chart-5: oklch(0.8077 0.1624 77.5981);
  --sidebar: oklch(0.9607 0.0044 247.8691);
  --sidebar-foreground: oklch(0.1371 0.036 258.5258);
  --sidebar-primary: oklch(0.4511 0.1731 259.2867);
  --sidebar-primary-foreground: oklch(0.9848 0 0);
  --sidebar-accent: oklch(0.9684 0.0068 247.8951);
  --sidebar-accent-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-border: oklch(0.929 0.0126 255.5317);
  --sidebar-ring: oklch(0.4511 0.1731 259.2867);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.05;
  --shadow-color: hsl(222.2, 84%, 4.9%);
  --shadow-2xs: 0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.03);
  --shadow-xs: 0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.03);
  --shadow-sm:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.05), 0px 1px 2px -1px hsl(222.2 84% 4.9% / 0.05);
  --shadow:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.05), 0px 1px 2px -1px hsl(222.2 84% 4.9% / 0.05);
  --shadow-md:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.05), 0px 2px 4px -1px hsl(222.2 84% 4.9% / 0.05);
  --shadow-lg:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.05), 0px 4px 6px -1px hsl(222.2 84% 4.9% / 0.05);
  --shadow-xl:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.05), 0px 8px 10px -1px hsl(222.2 84% 4.9% / 0.05);
  --shadow-2xl: 0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.13);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: oklch(0.1371 0.036 258.5258);
  --foreground: oklch(0.9684 0.0068 247.8951);
  --card: oklch(0.28 0.0369 259.974);
  --card-foreground: oklch(0.9684 0.0068 247.8951);
  --popover: oklch(0.28 0.0369 259.974);
  --popover-foreground: oklch(0.9684 0.0068 247.8951);
  --primary: oklch(0.6232 0.1879 259.7964);
  --primary-foreground: oklch(0.9684 0.0068 247.8951);
  --secondary: oklch(0.28 0.0369 259.974);
  --secondary-foreground: oklch(0.9684 0.0068 247.8951);
  --muted: oklch(0.28 0.0369 259.974);
  --muted-foreground: oklch(0.7107 0.0351 256.7877);
  --accent: oklch(0.28 0.0369 259.974);
  --accent-foreground: oklch(0.9684 0.0068 247.8951);
  --destructive: oklch(0.3959 0.1331 25.7205);
  --destructive-foreground: oklch(0.9848 0 0);
  --border: oklch(0.28 0.0369 259.974);
  --input: oklch(0.28 0.0369 259.974);
  --ring: oklch(0.6232 0.1879 259.7964);
  --chart-1: oklch(0.6232 0.1879 259.7964);
  --chart-2: oklch(0.792 0.209 151.711);
  --chart-3: oklch(0.6474 0.1062 181.7459);
  --chart-4: oklch(0.5565 0.1627 14.4233);
  --chart-5: oklch(0.7789 0.1472 79.7941);
  --sidebar: oklch(0.1371 0.036 258.5258);
  --sidebar-foreground: oklch(0.9684 0.0068 247.8951);
  --sidebar-primary: oklch(0.6232 0.1879 259.7964);
  --sidebar-primary-foreground: oklch(0.2079 0.0399 265.7275);
  --sidebar-accent: oklch(0.28 0.0369 259.974);
  --sidebar-accent-foreground: oklch(0.9684 0.0068 247.8951);
  --sidebar-border: oklch(0.28 0.0369 259.974);
  --sidebar-ring: oklch(0.6232 0.1879 259.7964);
  --font-sans: "Inter", sans-serif;
  --font-serif: "Merriweather", serif;
  --font-mono: "Fira Code", monospace;
  --radius: 0.5rem;
  --shadow-x: 0px;
  --shadow-y: 4px;
  --shadow-blur: 10px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.15;
  --shadow-color: hsl(222.2, 84%, 4.9%);
  --shadow-2xs: 0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.07);
  --shadow-xs: 0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.07);
  --shadow-sm:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.15), 0px 1px 2px -1px hsl(222.2 84% 4.9% / 0.15);
  --shadow:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.15), 0px 1px 2px -1px hsl(222.2 84% 4.9% / 0.15);
  --shadow-md:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.15), 0px 2px 4px -1px hsl(222.2 84% 4.9% / 0.15);
  --shadow-lg:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.15), 0px 4px 6px -1px hsl(222.2 84% 4.9% / 0.15);
  --shadow-xl:
    0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.15), 0px 8px 10px -1px hsl(222.2 84% 4.9% / 0.15);
  --shadow-2xl: 0px 4px 10px 0px hsl(222.2 84% 4.9% / 0.38);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

@layer base {
  * {
    @apply border-border;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
}

/* Code for Firefox */
::-moz-selection {
  color: var(--primary-foreground);
  background: var(--primary);
}

::selection {
  color: var(--primary-foreground);
  background: var(--primary);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Base styles */
html {
  font-size: 16px;
  /* Root size for rem scaling */
}

h1 {
  font-size: 2.5rem !important;
  /* ~40px */
}

h2 {
  font-size: 2rem;
  /* ~32px */
}

h3 {
  font-size: 1.75rem;
  /* ~28px */
}

h4 {
  font-size: 1.5rem;
  /* ~24px */
}

h5 {
  font-size: 1.25rem;
  /* ~20px */
}

h6 {
  font-size: 1rem;
  /* ~16px */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.3;
  /* font-weight: 700; */
  text-wrap: pretty;
}

p {
  font-size: 1rem;
  /* ~16px */
  line-height: 1.6;
  font-weight: 500;
  text-wrap: pretty;
}

/* Responsive adjustments */
@media (max-width: 720px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  h5 {
    font-size: 1rem;
  }

  h6 {
    font-size: 0.875rem;
  }

  p {
    font-size: 0.9375rem;
    /* ~15px */
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
  border: none;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  text-decoration: none;
  background-color: var(--color-background);
  color: var(--foreground);
  /* padding: 0.5rem; */
}

input::placeholder {
  border: none;
  outline: none;
  font-size: 1rem;
  box-sizing: border-box;
  /* padding-left: 0.5rem; */
  text-decoration: none;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
